:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  top: 611.0253239736879px;
  left: 204.95314725599928px;
  position: absolute;
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
}
.text {
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
}
