:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.top-container {
  position: relative;
  margin: 16px 0;
  align-items: stretch;
  min-width: 50px;
  min-height: 50px;
  flex: 1 1 0;
}
.bottom-row {
  align-items: stretch;
  min-width: 50px;
  min-height: 50px;
  flex: 1 1 0;
}
.grid {
  flex: 1 1 0;
  min-width: 50px;
  min-height: 50px;
}
.igx-column {
  width: 500px;
  height: 200px;
  min-width: 50px;
  min-height: 50px;
}
.image {
  min-width: 0;
  min-height: 0;
  flex: 1 1 0;
  object-fit: cover;
}
.row {
  display: flex;
}
