<div class="row-layout row">
  <div class="column-layout column">
    <div class="top-menu row">
      <h5 class="title_2">Menu</h5>
    </div>
    <div class="header-and-filtering column">
      <h6 class="title">Background image goes here</h6>
      <div class="filtering row">
        <h6 class="title_1">Filters go here</h6>
      </div>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer row">
      <h5 class="title_2">Footer</h5>
    </div>
  </div>
</div>
