:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  top: 138.9685100035332px;
  left: 84.54341532619854px;
  width: 1267px;
  height: 248px;
  position: absolute;
  flex: 0 0 auto;
  min-width: 50px;
  min-height: 50px;
}
.grid_1 {
  top: 413.87404001413296px;
  left: 85px;
  width: 647px;
  height: 466px;
  position: absolute;
  flex: 0 0 auto;
  min-width: 50px;
  min-height: 50px;
}
.igx-column {
  width: 500px;
  height: 200px;
  min-width: 50px;
  min-height: 50px;
}
.text {
  top: 62.99387452715405px;
  left: 80px;
  width: 1274px;
  height: max-content;
  min-width: min-content;
  position: absolute;
  flex: 0 0 auto;
}
.image {
  top: 415px;
  left: 749px;
  width: 602px;
  height: 463px;
  min-width: 0;
  min-height: 0;
  object-fit: cover;
  position: absolute;
  flex: 0 0 auto;
}
